.ınterestbtn {
    margin-bottom: 20px;
    margin-top: -40px;
}

/* button.btn.btn-dark{
    margin: 10px;
    height: 40px;
    width: 200px;
} */

@media screen and (min-width: 1101px) {
    .ınterestbtn {
    margin-bottom: 20px;
    margin-top: -40px;
}
button.btn.btn-dark{
    margin: 10px;
    width: 200px;
}
}

@media screen and (max-width: 1100px) {
  .ınterestbtn {
    margin-bottom: 20px;
    margin-top: -40px;
}
button.btn.btn-dark{
    margin-top: 20px;
    margin-right: 5px;
    width: 170px;
    height: 40px;
}
}