button.btn.btn-warning {
    margin: 1%;
    width: 100px;
    height: 50px;
    font-family: monospace;
}

button.btn.btn-danger {
    margin: 1%;
    width: 100px;
    height: 50px;
    font-family: monospace;
    color: black;
}

button.btn.btn-info {
    margin: 1%;
    width: 100px;
    height: 50px;
    font-family: monospace;
}

.container {
    min-height: 86vh;
}

p.homepage-text {
    margin-inline-end: auto;
    font-family: cursive;
}

.card {
    padding: 10%;
    margin-top: 30px;
}

input[type="number"] {
    padding: 5px;
    margin-bottom: 20px;
}