img.d-inline-block.align-top {
    margin-left: 30px;
}

h3.Navbar-text {
    margin-left: 15px;
    font-family: monospace;
    color: azure;
}

a.navbar-brand {
    display: flex;
}

@media screen and (max-width : 400px) {
    h3.Navbar-text{
        font-size: 10px;
    }
    img.d-inline-block.align-top {
   height: 40px;
   width: 40px;
}}